<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <table class="table">
        <tbody>
          <tr>
            <td>Бренд</td>
            <td>{{product.brand}}</td>
          </tr>
          <tr>
            <td>Тип</td>
            <td>{{product.type}}</td>
          </tr>
          <tr>
            <td>Довжина</td>
            <td>{{product.length}} м.</td>
          </tr>
          <tr>
            <td>Діаметер</td>
            <td>{{product.diameter}} мм.</td>
          </tr>
          <tr>
            <td>Навантаження на розрив</td>
            <td>{{product.tensile_load}} кг.</td>
          </tr>
          <tr>
            <td>Призначення</td>
            <td>{{product.purpose}}</td>
          </tr>
        </tbody>
      </table>
</body>
</html>
