<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <table class="table">
        <tbody>
          <tr>
            <td>Бренд</td>
            <td>{{product.brand}}</td>
          </tr> 
          <tr>
            <td>Розмір</td>
            <td>{{product.size}}</td>
          </tr> 
          <tr>
            <td>Мітеріал</td>
            <td>{{product.material}}</td>
          </tr> 
          <tr>
            <td>Призначення</td>
            <td>{{product.assignmant}}</td>
          </tr> 
          <tr>
            <td>К-ть в упаковці</td>
            <td>{{product.package_quantity}} шт.</td>
          </tr> 
          <tr>
            <td>Тип</td>
            <td>{{product.type}}</td>
          </tr> 
        </tbody>
      </table>
</body>
</html>