<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <table class="table">
        <tbody>
          <tr>
            <td>Бренд</td>
            <td>{{product.brand}}</td>
          </tr>
          <tr>
            <td>Тип</td>
            <td>{{product.type}}</td>
          </tr>
          <tr>
            <td>Конструкція</td>
            <td>{{product.construction}}</td>
          </tr>
          <tr>
            <td>Матеріал</td>
            <td>{{product.material}}</td>
          </tr>
          <tr>
            <td>К-ть секцій</td>
            <td>{{product.numders_sections}}</td>
          </tr>
          <tr>
            <td>Сезон</td>
            <td>{{product.season}}</td>
          </tr>
        </tbody>
      </table>
</body>
</html>
