<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <table class="table">
        <tbody>
          <tr>
            <td>Тип</td>
            <td>{{product.type}}</td>
          </tr>
          <tr>
            <td>К-ть в упаковці</td>
            <td>{{product.package_quantity}} шт.</td>
          </tr>
          <tr>
            <td>Їстівна</td>
            <td>
              {%if product.edible == 'True'%}
                Так
              {%else%}
                Ні
              {%endif%}
            </td>
          </tr>
        </tbody>
      </table>
</body>
</html>