<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <table class="table">
        <tbody>
          <tr>
            <td>Бренд</td>
            <td>{{product.brand}}</td>
          </tr>
          <tr>
            <td>Тип</td>
            <td>{{product.type}}</td>
          </tr>
          <tr>
            <td>Вага</td>
            <td>{{product.weight}} г.</td>
          </tr>
          <tr>
            <td>К-ть в упаковці</td>
            <td>{{product.package_quantity}} шт.</td>
          </tr>
          <tr>
            <td>Особливості</td>
            <td>{{product.features}}</td>
          </tr>
          <tr>
            <td>Оснащення</td>
            <td>{{product.equipment}}</td>
          </tr>
        </tbody>
      </table>
</body>
</html>
