<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <table class="table">
        <tbody>
          <tr>
            <td>Бренд</td>
            <td>{{product.brand}}</td>
          </tr>
          <tr>
            <td>Тип</td>
            <td>{{product.type}}</td>
          </tr>
          <tr>
            <td>Вага</td>
            <td>{{product.weight}} г.</td>
          </tr>
          <tr>
            <td>Техніка лову</td>
            <td>{{product.fishing_technique}}</td>
          </tr>
          <tr>
            <td>Плавучисть</td>
            <td>{{product.buoyancy}}</td>
          </tr>
        </tbody>
      </table>
</body>
</html>
